<?xml version="1.0"?>
<commands>
    <identiefier name="email">
        <modifier>1</modifier>
        <command>start http://mail.google.com</command>
        <executor>cmd</executor>
    </identiefier>
    <identiefier name="email">
        <modifier>0</modifier>
        <command>start http://mail.google.com</command>
        <executor>cmd</executor>
    </identiefier>
    <identiefier name="face book">
        <modifier>1</modifier>
        <command>start http://mail.google.com</command>
        <executor>cmd</executor>
    </identiefier >
    <identiefier name="note pad">
        <modifier>1</modifier>
        <command>notepad.exe</command>
        <executor>cmd</executor>
    </identiefier>
    <identiefier name="note pad">
        <modifier>0</modifier>
        <command>taskkill /F /IM notepad.exe</command>
        <executor>cmd</executor>
    </identiefier>
</commands>